@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
h1 {
    margin: 20px;
}

div {
    margin: auto;
    display: table;
}

table {
    margin: auto;
}

select {
    margin: 9PX;
}

#table is-striped tr {
    text-align: center;
}

#table is-striped th {
    padding: 20px;
    line-height: 15px;
    text-align: center;
}

img {
    height: 200px;
}
