<h1 class="title is-1 has-text-centered"> {{ welcome }}</h1>

<div class="box has-background-success-light">
    <table id="reimbursements-tbl" class="table is-striped">
        <thead>
            <th class="has-text-centered">Reimbursement id</th>
            <th class="has-text-centered">Amount</th>
            <th class="has-text-centered">Date Submitted</th>
            <th class="has-text-centered">Date Resolved</th>
            <th class="has-text-centered">Description</th>
            <th class="has-text-centered">Employee Username</th>
            <th class="has-text-centered">Manager Username</th>
            <th class="has-text-centered">status</th>
            <th class="has-text-centered">Type</th>
            <th class="has-text-centered">Image</th>
        </thead>

        <tbody>
            <tr *ngFor="let item of (reimbursements | async)">
                <td class="has-text-centered is-vcentered"> {{item.id}} </td>
                <td class="has-text-centered is-vcentered"> {{item.amount}} </td>
                <td class="has-text-centered is-vcentered"> {{item.dateSubmitted}} </td>
                <td class="has-text-centered is-vcentered"> {{item.dateResolved}} </td>
                <td class="has-text-centered is-vcentered"> {{item.description}} </td>
                <td class="has-text-centered is-vcentered"> {{item.employeeUsername}} </td>
                <td class="has-text-centered is-vcentered"> {{item.managerUsername}} </td>
                <td class="has-text-centered is-vcentered"> {{item.statusName}} </td>
                <td class="has-text-centered is-vcentered"> {{item.typeName}} </td>
                <td class="has-text-centered is-vcentered"> <img [src]="fillImage(item.id)" alt="Image"> </td>
                <td *ngIf="!item.managerUsername" class="has-text-centered is-vcentered">
                    <label for="status">Update status </label>
                    <select id="status" name="status" (change)="selectedOption($event)">
                      <option>Select an Option </option>
                      <option value=1>pending</option>
                      <option value=2>approved</option>
                      <option value=3>denied</option>
                  </select>
                    <button class="button is-link" (click)="updateStatus(item.id)">Update Status</button>
                </td>
        </tbody>
    </table>
</div>
